

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .btn-modern {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: slateblue;
    color: white;
    font-size: 20px;
    transition: all 0.4s;


  }
  
  .btn-modern:hover {
    transform: translatey(-5px);
    background-color: aqua;
    color: brown;
 
  }